*{
  margin: 0;
  padding: 0;
  max-width: 100%;
}
body{
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color: rgb(30, 30, 30);
  line-height: 1.5;
}

@media and screen (max-width: 762px){

header, main, footer, #sec1, #sec2, #sec3, #sec5, #sec6{
  padding: 10px 20px;
}
main, footer, #sec1, #sec2, #sec3, #sec4, #sec5, #sec6{
  text-align: center;
}
header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  box-shadow: 0 3px 8px #7A4988;
  background-color: #E39FF6;
}
header img{
  width: auto;
  height: 24px;
}
header .btn{
  margin-right: 40px;
}
.fixed{
  position: fixed;
}
main img{
  margin-top: 100px;
  height: auto;
  width: 100%;
}
.btn{
  background-color: #710193;
  color: #E39FF6;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: 0 3px 2px #7A4988;
}
header .btn{
  padding: 10px 30px;
}
#sec1 .btn{
  padding: 20px 30px;
  width: 100%;
  margin-top: 50px;
}
#sec2 h2{
  margin-top: 50px;
}
#sec3{
  background-color: #710193;
  color: rgb(180, 180, 180);
}
#sec3 h2{
  margin-top: 50px;
}
#sec4{
  padding: 10px 0;
}
#sec4 h2{
  color: rgb(30, 30, 30);
  margin-top: 50px;
}
#skill{
  display: grid;
  grid-template-columns: 80% 80% 80% 80% 80% 80%;
  grid-gap: 1rem;
  text-align: left;
  overflow-x: scroll;
  padding-left: 10px;
}
.skills{
  background-color: rgb(30, 30, 30);
  color: rgb(180, 180, 180);
  padding: 10px;
}
.skills:last-child{
  margin-right: 5%;
}
#sec5 .btn{
  color: rgb(180, 180, 180);
  padding: 20px 30px;
  width: 100%;
  margin-top: 50px;
}
#sec6 h2{
  margin-top: 50px;
}

/*Acco*/
.ac-container label {
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    cursor: pointer;
    color: #777;
}
.ac-container {
    width: 100%;
    text-align: left;
}

.ac-container input:checked + label,.ac-container input:checked + label:hover {
    background: #710193;
    color: #666;
    text-shadow: 0 1px 1px rgba(255,255,255,0.6);
    box-shadow: 0 0 0 1px rgba(155,155,155,0.3),0 2px 2px rgba(0,0,0,0.1);
}

.ac-container label:hover:after,.ac-container input:checked + label:hover:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(../images/arrow_down.png) no-repeat center center;
}

.ac-container input:checked + label:hover:after {
    background-image: url(../images/arrow_up.png);
}

.ac-container article p {
    font-style: normal;
    color: #777;
    line-height: 23px;
    font-size: 10px;
    padding: 20px;
}
.ac-container input:checked ~ article {
    -webkit-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
}

.ac-container article {
    background: rgba(255,255,255,0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
}
.ac-container input {
    display: none;
}
.ac-container input:checked ~ article.ac-small {
    height: 140px;
}

.ac-container input:checked ~ article.ac-medium {
    height: auto;
}

.ac-container input:checked ~ article.ac-large {
    height: 230px;
}
}
